#weatherInfo {
    margin-top: 7vh;
}

h1 {
    margin-top: 11vh;
}

h1, h2 {
    opacity: 0.9;
}

h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #dadada;
    display: inline-block;
    padding-bottom: 4px;   
}