
{% extends 'weather/base.html' %}

{% load static %}

{% block title %}Weather App{% endblock %}

{% block content %}

    <div class="container-fluid  d-lg-block">
        <div class="weather-container row">
            <div id="weatherInfo" class="col-lg-6">
            </div>
            <div class="map-container col-lg-6 d-flex justify-content-center align-items-center">
                <div id="map" class="rounded-3">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
