{% extends 'weather/base.html' %}

{% load static %}

{% block title %}Weather App{% endblock %}

{% block content %}

<div class="container" id="introContainer">
    <div class="intro-header text-center">
        <h1 class="intro mb-3">WeatherSphereApp</h1>
        <p class="lead w-75 mx-auto text-center">
            Этот проект позволяет искать информацию о погоде в любом городе мира, используя API OpenWeather.
            В дополнение к погодным данным, приложение также предоставляет информацию о городе через API Wikipedia,
            что делает его удобным инструментом для получения полного представления о выбранном месте.
        </p>
        <div class="intro-images d-flex justify-content-between d-none d-lg-flex">
            <img src="{% static 'images/sunflower1.png' %}" alt="Sunflower 1" class="img-fluid"
                style="max-width: 90px;">
            <img src="{% static 'images/sunflower1.png' %}" alt="Sunflower 1" class="img-fluid"
                style="max-width: 90px;">
        </div>
    </div>
    <div class="intro-cards row">
    <div class="col-lg-4">
        <div class="card">
            <img src="{% static 'images/wallpeperweather1.png' %}" class="card-img card-img-top" alt="Weather Data">
            <div class="card-body">
                <h5 class="card-title">Актуальные погодные данные</h5>
                <p class="card-text">
                    OpenWeather — это популярный и надежный сервис, предоставляющий данные о погоде в режиме
                    реального времени для городов по всему миру. Используя их API, это приложение позволяет получать
                    точную и актуальную информацию о погодных условиях в любом городе. Вы можете узнать температуру,
                    скорость ветра и другие параметры.
                </p>
                <p class="card-text">
                    Введите название интересующего вас города (на английском языке) и получите подробный прогноз на ближайшее время.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img src="{% static 'images/citywallpeper1.png' %}" class="card-img card-img-top" alt="City Info">
            <div class="card-body">
                <h5 class="card-title">Информация о городе</h5>
                <p class="card-text">
                    В дополнение к погодным данным, приложение предоставляет краткое описание города через API
                    Wikipedia. Узнайте больше об истории и интересных фактах о выбранном вами месте.
                </p>

                <p class="card-text">
                    Кроме того, проект включает интеграцию с картой от OpenWeather. Эта карта отображает не только
                    географическое положение выбранного города, но и визуализирует погодные условия в реальном
                    времени.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img src="{% static 'images/djangoweather1.png' %}" class="card-img card-img-top" alt="Stack">
            <div class="card-body">
                <h5 class="card-title">Удобство использования и современные технологии</h5>
                <p class="card-text">
                    Проект разработан с использованием Django, одного из самых популярных веб-фреймворков на Python.
                    Для работы с данными используется Django REST Framework (DRF), который обеспечивает быстрый и
                    эффективный доступ к данным через API.
                </p>
                <p class="card-text">
                    Также проект включает JavaScript-скрипт,
                    который обеспечивает динамическое обновление интерфейса и взаимодействие с API OpenWeather и
                    Wikipedia
                </p>
                <p class="card-text">
                    В проекте также применяются современные веб-технологии, такие как GSAP (GreenSock Animation
                    Platform), что позволяет добавить плавные анимации и улучшить взаимодействие с пользователем.
                </p>
            </div>
        </div>
    </div>
</div>
    <div class="img-intro text-center">
        <img src="{% static 'images/skysvg3.svg' %}" alt="Sky SVG" class="img-fluid"
            style="width: 100px; height: auto;">
    </div>
</div>


<div class="container" id="weatherContainer">
    <div class="row d-flex justify-content-center ms-lg-3">
        <div id="weatherInfo" class="col-12 col-lg-4 mb-4"></div>

        <div
            class="map-container col-12 col-lg-8 d-flex flex-column justify-content-start align-items-center mb-4 me-4">
            <div id="map" class="rounded-3 w-100"></div>
            <div class="city-info col-sm-12 ms-lg-2"></div>
        </div>
    </div>
</div>

{% endblock %}