{% extends 'weather/base.html' %}

{% load static %}

{% block title %}Weather App{% endblock %}

{% block content %}

<div class="container" id="introContainer">
    <h1 class="intro d-flex justify-content-center">Lorem Ipsum</h1>
    <div class="intro-cards row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet. Sed omnis velit aut numquam porro vel officiis
                        dolor qui voluptatum amet ut nihil quia et quam minima. Sed voluptatem vitae et veniam
                        praesentium qui consectetur consequatur ut exercitationem placeat At sunt iure.</p>
                    <a href="#" class="btn btn-primary">#</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet. Sed omnis velit aut numquam porro vel officiis
                        dolor qui voluptatum amet ut nihil quia et quam minima. Sed voluptatem vitae et veniam
                        praesentium qui consectetur consequatur ut exercitationem placeat At sunt iure.</p>
                    <a href="#" class="btn btn-primary">#</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet. Sed omnis velit aut numquam porro vel officiis
                        dolor qui voluptatum amet ut nihil quia et quam minima. Sed voluptatem vitae et veniam
                        praesentium qui consectetur consequatur ut exercitationem placeat At sunt iure.</p>
                    <a href="#" class="btn btn-primary">#</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="weatherContainer">
    <div class="row d-flex justify-content-center ms-lg-3">
        <div id="weatherInfo" class="col-12 col-lg-4 mb-4"></div>

        <div
            class="map-container col-12 col-lg-8 d-flex flex-column justify-content-start align-items-center mb-4 me-4">
            <div id="map" class="rounded-3 w-100"></div>
            <div class="city-info col-sm-12 ms-lg-2"></div>
        </div>
    </div>
</div>

{% endblock %}